# environment variables to configure the SQL server
MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PASSWORD=
DB_HOST=
DB_PASSWORD=

# environment variables to configure Eve
ARTIFACTS_PREFIX=
ARTIFACTS_URL=
BOOTSTRAP_BUILDER_NAME=
BOOTSTRAP_SCHEDULER_NAME=
CLOUDFILES_URL=
CLOUD_INIT_SCRIPT=
CODECOV_IO_BASE_URL=
CODECOV_IO_UPLOAD_TOKEN=
DB_URL=
DEBUG_MODE=
DOCKER_API_VERSION=
DOCKER_BUILDER_PREFIX=
DOCKER_CERT_PATH=
DOCKER_CONTAINER_MAX_CPU=
DOCKER_CONTAINER_MAX_MEMORY=
DOCKER_HOST=
DOCKER_SCHEDULER_PREFIX=
DOCKER_TLS_VERIFY=
EVE_GITHOST_LOGIN=
EVE_GITHOST_PWD=
EXTERNAL_URL=
FORCE_BUILD_PARAM_COUNT=
FORCE_SCHEDULER_NAME=
GITHUB_TOKEN=
GIT_HOST=
GIT_OWNER=
GIT_POLLING=
GIT_REPO=
GIT_SLUG=
HIDE_INTERNAL_STEPS=
HIPCHAT_ROOM=
HIPCHAT_TOKEN=
HTTP_PORT=
IS_PRODUCTION=
LOCAL_BUILDER_PREFIX=
LOCAL_JOBS_DIRPATH=
LOCAL_SCHEDULER_PREFIX=
LOW_PRIORITY_BRANCH=
MANHOLE_IN_USE=
MANHOLE_LOGIN=
MANHOLE_PASSWORD=
MANHOLE_PORT=
MASTER_FQDN=
MASTER_MODE=
MAX_DOCKER_WORKERS=
MAX_LOCAL_WORKERS=
MAX_OPENSTACK_WORKERS=
MICROSERVICE_GITCACHE_VM_URL=
MICROSERVICE_ARTIFACTS_VM_URL=
NGROK=
OAUTH2_CLIENT_ID=
OAUTH2_CLIENT_SECRET=
OPENSTACK_BUILDER_PREFIX=
OPENSTACK_SCHEDULER_PREFIX=
OS_AUTH_URL=
OS_KEY_NAME=
OS_NETWORK_PRIVATE=
OS_NETWORK_PUBLIC=
OS_NETWORK_SERVICE=
OS_REGION_NAME=
OS_SSH_KEY=
OS_TENANT_NAME=
OS_USERNAME=
PB_PORT=
PROJECT_URL=
SECRET_ARTIFACT_CREDS=
SECRET_OS_PASSWORD=
SENTRY_DSN=
SUFFIX=
TRY_PORT=
TRY_PWD=
TRY_SCHEDULER_NAME=
VAULT_IN_USE=
VAULT_TOKEN=
VAULT_URL=
WAMP_REALM=
WAMP_ROUTER_URL=
WWW_PLAIN_LOGIN=
WWW_PLAIN_PASSWORD=
