server {
    listen 80;
    listen [::]:80;

    server_name {{ fqdn }};
    return 301 https://{{ fqdn }}$request_uri;
}

server {
    listen 443 ssl;
    listen [::]:443 ssl;

    server_name {{ fqdn }};

    ssl_certificate /etc/nginx/ssl/devsca_full_bundle.crt;
    ssl_certificate_key /etc/nginx/ssl/devsca_com.key;

    # Put a one day session timeout for websockets to stay longer
    ssl_session_cache shared:SSL:1440m;
    ssl_session_timeout 1440m;

    auth_basic "Eve: Identify yourself!";
    auth_basic_user_file /etc/nginx/htpasswd;

    location / {
        proxy_pass http://unix:/run/buildbot.sock;
    }
    # Server Sent Event
    location /sse/ {
        # Proxy buffering would prevent SSE to work
        proxy_buffering off;
        proxy_pass http://unix:/run/buildbot.sock:/sse/;
    }
    # WebSocket
    location /ws {
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "upgrade";
        proxy_read_timeout 6000s;
        proxy_pass http://unix:/run/buildbot.sock:/ws;
    }
}
