# CONSTRAINTS for all installs

# fix version of buildbot
buildbot-pkg==2.0.1
buildbot-worker==2.0.1
buildbot-www==2.0.1
buildbot==2.0.1
buildbot_wsgi_dashboards==2.0.1

# Force a common version for components that are installed
# by different requirements files in different versions
idna==2.5
pyflakes>=1.6.0

# pydocstyle 2.1.1 raises new errors
# we will need a proper integration of the new version
pydocstyle==2.0.0

# Ensure we have an up to date version of twisted
twisted>=19.7.0

# pip 20.0.2 contains a regression that breaks pip install of some modules
pip==20.0.1

# fix a syntax error with 6.0.1
setuptools-scm==5.0.2

# later versions of cbor2 did not install
cbor2==4.1.2
