# CONSTRAINTS for all installs

# fix version of buildbot
buildbot-pkg==0.9.12
buildbot-worker==0.9.12
buildbot-www==0.9.12
buildbot==0.9.12
buildbot_wsgi_dashboards==0.9.12

# Force a common version for components that are installed
# by different requirements files in different versions
idna==2.5
pyflakes>=1.6.0

# pydocstyle 2.1.1 raises new errors
# we will need a proper integration of the new version
pydocstyle==2.0.0
