---
apiVersion: v1
kind: Secret
metadata:
  labels:
    app: eve
    project: {{ env.namespace }}
    service: api-client
  name: eve-api-client
type: Opaque
data:
  email: "{{ env.bert_e_email.encode('base64').replace('\n', '').strip() }}"
  username: "{{ env.bert_e_username.encode('base64').replace('\n', '').strip() }}"
  password: "{{ env.bert_e_password.encode('base64').replace('\n', '').strip() }}"
  key: "{{ env.bert_e_consumer_key.encode('base64').replace('\n', '').strip() }}"
