{% macro key() -%}
{{ env.eve_key_private.replace('\\n', '\n') }}
{%- endmacro -%}
---
apiVersion: v1
kind: Secret
metadata:
  labels:
    app: eve
    project: {{ env.namespace }}
    service: conf
  name: openstack-key
type: Opaque
data:
  os_id_rsa: {{ key().encode('base64').replace('\n', '').strip() }}
