export OS_USERNAME={{ env.os_username }}
export OS_PASSWORD={{ env.os_password }}
export OS_TENANT_NAME={{ env.os_tenant_name }}
export OS_AUTH_URL={{ env.os_auth_url }}
export OS_REGION_NAME={{ env.os_region_name }}
export OS_IDENTITY_API_VERSION={{ env.os_api_version }}
export OS_PROJECT_DOMAIN_ID={{ env.os_project_domain_id }}
