{% set project = grains['project'] %}
{% set universe = grains['universe'] %}

{% for os_provider in pillar['kube']['google'][project]['openstack'] %}
{% for os_region in pillar['kube']['google'][project]['openstack'][os_provider] %}

{% set provider_data = pillar['openstack'][os_provider] %}
{% set region_data = pillar['openstack'][os_provider]['regions'][os_region] %}

{{ os_provider }}_{{ os_region }}:
  api_key: '{{ provider_data['api_key'] }}'
  auth_url: '{{ provider_data['auth_url'] }}'
  dns_suffix: '{{ region_data['dns_suffix'] }}'
  identity_api_version: '{{ provider_data['identity_api_version'] }}'
  key_name: '{{ provider_data['key_name'] }}'
  microsvm_flavor: '4 GB General Purpose v1'
  microsvm_image: '{{ region_data['images']['ubuntu16']['name'] }}'
  microsvm_name: '{{ 'eve-' + universe + '-' + region_data['dns_suffix'] + '-microsvm' }}'
  microsvm_network_prefix: '{{ '.'.join(region_data['private_network_range'].split('.')[:2]) }}'
  microsvm_network_range: '{{ region_data['private_network_range'] }}'
  microsvm_patch_nic: {{ os_provider == 'scality.cloud' }}
  microsvm_user: '{{ region_data['images']['ubuntu16']['default_user'] }}'
  network_private: '{{ region_data['networks']['private'] }}-{{ universe }}'
  network_public: '{{ region_data['networks']['public'] }}'
  network_public_name: '{{ region_data['networks']['public_name'] }}'
  network_service: '{{ region_data['networks']['service'] }}'
  password: '{{ provider_data['pwd'] }}'
  provider: {{ os_provider }}
  region_name: '{{ os_region }}'
  tenant_name: '{{ provider_data['tenant'] }}'
  username: '{{ provider_data['login'] }}'

{% endfor %}
{% endfor %}
